# url is the full website URL
# baseurl is the website's URL without the hostname
url: "https://ncar.github.io/ncar-python-tutorial"
baseurl: ""

title: NCAR Hackathons
description: Instructional material as well as open-ended projects.

# List of links in the navigation bar
navbar-links:
  Blog: "blog"
  Projects: "projects"
  Resources: "resources"

# Change all these values or delete the ones you don't want (these appear in the footer).
# Important: you must keep the "name" parameter, everything else you can remove
author:
  name: "NCAR XDev Team"
  email: "xdev@ucar.edu"
  github: ncar/ncar-python-tutorial
  facebook: yourname # eg. daattali
  twitter: NCARXDev # eg. daattali

# Select which links to show in the footer
footer-links-active:
  github: true
  email: true
  rss: false
  facebook: false
  twitter: true

# Select which share links to show in posts
share-links-active:
  twitter: true
  facebook: false
  google: false
  linkedin: true

# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
disqus: ""

# Google Analytics ID
google_analytics: "UA-138446982-4"

# Output options (more information on Jekyll's site)
timezone: "America/Denver"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5
paginate_path: "/blog/page:num/"

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts
  - scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true

# Exclude these files from production site
exclude:
  - LICENSE
  - README.md

plugins:
  - jekyll-paginate
  - jekyll-redirect-from
